name: Create Prerelease

env:
  GITHUB_TOKEN: ${{ secrets.token }}

on:
  push:
    branches-ignore: [master, main]

jobs:
  create_release:
    runs-on: ubuntu-latest
    outputs:
      create_release_output: ${{ steps.version.outputs.version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: paulhatch/semantic-version@v5.0.2
        id: version
        with:
          tag_prefix: ""
          major_pattern: "(MAJOR)"
          minor_pattern: "(MINOR)"
          change_path: .
          version_format: "${major}.${minor}.${patch}-${increment}"

      - name: Create new Release with semantic-version tag
        uses: ncipollo/release-action@v1
        id: create_release
        with:
          draft: false
          prerelease: false
          name: Release ${{ steps.version.outputs.version }}
          tag: ${{ steps.version.outputs.version }}
          bodyFile: RELEASE_NOTE.md

  upload_dockerhub_main:
    uses: ./.github/workflows/task-upload-docker-hub.yml
    needs:
      - create_release
    with:
      reponame: 'h2invent/jitsi-admin-matrix-bot'
      registry: reg.h2-invent.com
      dockerfile_path: './Dockerfile'
      directory: '.'
      version: h2invent/jitsi-admin-matrix-bot:latest,h2invent/jitsi-admin-matrix-bot:${{ needs.create_release.outputs.create_release_output }}
    secrets:
      dockerhub_password: ${{ secrets.HARBOR_PUSH_PASSWORD }}
      dockerhub_username: ${{ secrets.HARBOR_PUSH_USERNAME }}
