name: Create Release

env:
  GITHUB_TOKEN: ${{ secrets.token }}

on:
  push:
    branches:
      - main
      - master

jobs:
  upload_dockerhub_main:
    uses: ./.github/workflows/task-upload-docker-hub.yml
    with:
      reponame: 'h2invent/jitsi-admin-matrix-bot'
      registry: reg.h2-invent.com
      dockerfile_path: './Dockerfile'
      directory: '.'
      version: h2invent/jitsi-admin-matrix-bot:latest,h2invent/jitsi-admin-matrix-bot:${{ needs.create_release.outputs.create_release_output }}
    secrets:
      dockerhub_password: ${{ secrets.HARBOR_PUSH_PASSWORD }}
      dockerhub_username: ${{ secrets.HARBOR_PUSH_USERNAME }}
